
.about {
    padding-bottom: 1rem;
}
.title-about {
    text-align: center;
    font-size: 3rem;
    color: #0a0274;
    text-shadow: 4px 3px 1px #5b567791;   
}
.about-top p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about-box {       
    display: flex;
}
.about-box-left {
    width: 30%;
    margin-right: 4.3rem;
    padding-top: 2rem;
}
.about-info-box {
    width: 100%;
    margin-bottom: 2rem;
    height: 10rem;
    color: #fff;
    position: relative;
    perspective: 1000px;
    border: 2px solid #5093a5af;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #5e8994be;
    overflow: hidden;
}
.about-display-none  {
    transform: rotateY(180deg);
    text-align: center;
    font-size: 17px;
    font-family:gotham;
}
.about-display-block, .about-display-none {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 1s;
    backface-visibility: hidden;  
}
.about-info-box:hover .about-display-block {
    transform: rotateY(180deg);}
.about-info-box:hover .about-display-none {
    transform: rotateY(360deg);}
.about-name-img {
    text-align: center;
    font-size: 25px;
    font-family:gilroy;
    letter-spacing: 3px;
    color: #61A8B9;
    display: none;
}
.about-card-img {
    width: 100%;
    height: 100%;
}
.about-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-box-right {
    width: 65%;
}
.about-list {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    position: relative;
    line-height: 1.2;
}
.about-list::after {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    left: -30px;
    position: absolute;
    margin-top: -10px;
    display: block;
    background-image: url(../../../public/img/about/part.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.about-welcome-text {
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: -20px;
}
.about-link {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border: 2px solid grey;
    transition: 0.3s all linear;
} 
.about-link:hover {
    background-color: rgb(49, 49, 49);
    color: #fff;
}



@media screen and (max-width: 1250px) {
    .about-box-left {
        display: none;
    }
    .contact-box {
        justify-content: center;
    }
    .about-box-right {
        width: 100%;
        margin-left: 8rem;
    }
 }

 @media screen and (max-width: 950px) {
    .about-top p {
        font-size: 1.7rem;
        display: none;
    }
    .about-box-right  {
        margin-left: 2rem;
    }
    .about-welcome-text  {
        font-size: 1.3rem;
        text-align: center;
    }
    .about-list {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .title-about {
    font-size: 2.5rem;
    }
    .about-top p {
        font-size: 1.4rem;
    }
    .contact-box-ul, .contact-social-list {
        font-size: 1rem;
    }
    .contact-list {
        margin: 0.3rem 0;
    }
    .about-welcome-text  {
        font-size: 1.2rem;
    }
  }