
.contact-main {
    background-color: rgb(236, 236, 236);
    padding-bottom: 2rem;
}
.contact-title {
    text-align: center;
    font-size: 3rem;
    color: #0a0274;
    text-shadow: 4px 3px 1px #5b567791;   
}
.contact-top {
    text-align: center;
    font-size: 2rem;
}
.contact-box-text p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    border-bottom: 2px solid #000;
}
.contact-box {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.contact-box-info {
    width: 65%;
    margin-left: 0.5rem;
}
.contact-box-text {
    margin-bottom: 2rem;
}
.contact-box-ul {
    font-size: 1.4rem;
}
.contact-list {
    margin: 0.5rem 0;
    list-style: none;
    position: relative;
}
.contact-list a {
    text-decoration: none;
    color: #000;
}
.contact-list::after {
    content: "";
    width: 1rem;
    height: 1rem;
    top: 55%;
    left: -1.5rem;
    position: absolute;
    margin-top: -8px;
    display: block;
    background-image: url(../../../public/img/contact-img/tyres.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.contact-box-social {
    margin-left: -1.7rem;   
}
.contact-box-social p {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-bottom: 2px solid #000;
    margin-left: 1.7rem; 
}
.contact-social-list {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}
.contact-social-list a{
    text-decoration: none;
    color: #000;
    display: flex;
    margin: 0.3rem 0.5rem 0.3rem 0;
}   
.contact-social-list-img {
    width: 2rem;
    height: 2rem;
    display: block;
    margin-right: 0.5rem;
    border-radius: 100%;
} 
.contact-social-list a:hover .contact-social-list-img {
    box-shadow: 0px 0px 3px 2px rgba(18,21,134,0.75);
}
.contact-social-list-img img{
    width: 100%;
}
.contact-box-form {
    width: 35%;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(10, 13, 104, 0.808);
    margin-top: 10px;
}

 /* media */

 @media screen and (max-width: 1250px) {
    .contact-box-form {
        display: none;
    }
    .contact-box {
        justify-content: center;
    }
    .contact-box-info {
        width: 100%;
        margin-left: 8rem;
    }
 }

 @media screen and (max-width: 950px) {
    .contact-top {
    font-size: 1.7rem;
    }
    .contact-box-info {
    font-size: 1.2rem;
    margin-left: 2rem;
    }
    .contact-box-text p,.contact-box-social p {
    font-size: 1.3rem;
    }
    .contact-box-ul, .contact-social-list {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .contact-title {
    font-size: 2.5rem;
    }
    .contact-top {
        font-size: 1.4rem;
    }
    .contact-box-ul, .contact-social-list {
        font-size: 1rem;
    }
    .contact-list {
        margin: 0.3rem 0;
    }
    .contact-box-text p, .contact-box-social p {
        font-size: 1.2rem;
    }
  }
