
.contact-main {
    background-color: rgb(236, 236, 236);
    padding-bottom: 2rem;
}
.contact-title {
    text-align: center;
    font-size: 3rem;
    color: #0a0274;
    text-shadow: 4px 3px 1px #5b567791;   
}
.contact-top {
    text-align: center;
    font-size: 2rem;
}
.contact-box-text p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    border-bottom: 2px solid #000;
}
.contact-box {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.contact-box-info {
    width: 65%;
    margin-left: 10px;
}
.contact-box-text {
    margin-bottom: 2rem;
}
.contact-box-ul {
    font-size: 1.4rem;
}
.contact-list {
    margin: 0.5rem 0;
    list-style: none;
    position: relative;
}
.contact-list a {
    text-decoration: none;
    color: #000;
}
.contact-list::after {
    content: "";
    width: 1rem;
    height: 1rem;
    top: 55%;
    left: -1.5rem;
    position: absolute;
    margin-top: -8px;
    display: block;
    background-image: url(../../../public/img/contact-img/tyres.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.contact-box-social {
    margin-left: -1.7rem;   
}
.contact-box-social p {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 2px solid #000;
    margin-left: 1.7rem; 
}
.contact-social-list {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.contact-social-list a{
    text-decoration: none;
    color: #000;
    display: flex;
    margin: 5px 10px 5px 0;
}   
.contact-social-list-img {
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 0.5rem;
    border-radius: 100%;
} 
.contact-social-list a:hover .contact-social-list-img {
    box-shadow: 0px 0px 3px 2px rgba(18,21,134,0.75);
}
.contact-social-list-img img{
    width: 100%;
}
.contact-box-form {
    width: 35%;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(10, 13, 104, 0.808);
    margin-top: 10px;
}

 /* media */

@media screen and (max-width: 1110px) {
    .main__contact .container{
        padding: 0 20px 0 50px;
    }
    .contact-title {
        font-size: 55px; 
    } 
    .contact-top p {
        font-size: 25px;
    } 
    .contact__box__ul, .contact__social-list, .contact__box__ul a {
        font-size: 18px;
    }
    .contact__box__info {
    margin-left: 0;
    }
    .contact__social-list a{
        text-decoration: none;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin: 5px 10px 5px 0;
    }
    .contact__social-list a:hover {
            box-shadow: 0px 0px 3px 2px rgba(18,21,134,0.75);
    }
}

@media screen and (max-width: 910px) {

    .main__contact .container{
        padding: 0 10px 0 50px;
    }
    .tittle__contact {
        font-size: 45px; 
    } 
    .contact__top p {
        font-size: 20px;
    } 
}

@media screen and (max-width: 770px) {
    .tittle__contact{
        font-size: 35px; 
    }
    .contact__top p, .form__title, .contact__box__social p {
        font-size: 17px;
    } 
    .contact__box__ul, .contact__social-list, .contact__box__ul a {
        font-size: 14px;
    }

    .contact__social-list a{
        width: 30px;
        height: 30px;
        margin: 5px 10px 5px 0;   
    }
    .form__label {
        font-size: 14px;
    }
}

@media screen and (max-width: 630px) {
    .contact__box__form {
        display: none;
    }
    .contact__box__info {
        width: 100%;
    }
}

