.modal-car {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}
.modal-close {
    width: 2rem;
    height: 2rem;
    border-radius: 10%;
    background-color: rgb(202, 202, 202);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(168, 168, 168);
    transition: all 0.2s linear;
}
.modal-close:hover{
    border: 2px solid rgb(0, 0, 0);
}
.modal-close img{
    width: 90%;
}
.modal-car.active {
    opacity: 1;
    pointer-events: all;
}
.modal-content {
    width: 25rem;
    height: auto;
    background-color: #fff;
    position: relative;
    color: #000;
    border-radius: 0.5rem;
}
.modal-car-title {
    text-align: center;
    margin: 1rem 0;
    padding-right: 3rem;
}
.modal-car-list, .modal-car-equipments {
    list-style: circle;
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.modal-car-p{
    border-bottom: 2px solid rgb(26, 26, 26);
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }
  }
