
.repair-title {
    text-align: center;
    font-style: italic;
    margin-top: 2rem;
    font-size: 1.4rem;
}
.repair-title span {
    border-bottom: 2px solid black;
}
.service-block {
    position: relative;
    font-size: 1.4rem;
    margin-left: 8rem;
    margin-bottom: 4rem;
}
.service-block::after {
    content: "";
    width: 100px;
    height: 100px;
    top: 50%;
    left: -150px;
    position: absolute;
    margin-top: -50px;
    display: block;
    background-image: url(../../../public/img/repair/repair1.png);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.service-box {
    list-style: disc;
    margin-top: 1.2rem;
}
.service-list {
    margin: 10px 0;
    position: relative;
    list-style: none;
}
.service-list::after {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    left: -30px;
    position: absolute;
    margin-top: -10px;
    display: block;
    background-image: url(../../../public/img/repair/settings.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.service-youtube {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    transition: all 0.2s linear;
    border: 1px solid;
}
.service-youtube:hover {
    background-color: rgb(12, 12, 12);
    color: #fff;
}

@media screen and (max-width: 950px) {
    .repair-title {
        margin-top: 0;
        font-size: 1.4rem;
    }
    .service-block {
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .service-block::after {
        display: none;
    }
    .service-list {
        margin: 0.7rem 3rem 0;
    }
}
@media screen and (max-width: 600px) {
    .service-block {
        font-size: 1.2rem;
    }
    .service-list {
        margin: 0.7rem 2rem 0;
    }
  }